<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
SetEnv XDEBUG_SESSION_START 1

# Prevent directory listing
Options -Indexes

# Protect .htaccess file
<Files ~ "\.(htaccess|git|env)$">
    Order allow,deny
    Deny from all
</Files>

# Prevent access to sensitive files